[Unit]
Description=Daily wakeup timer
Documentation=man:systemd.timer(5)

[Timer]
OnCalendar=*-*-* 09:30:00
Persistent=true

[Install]
WantedBy=timers.target
