[Unit]
Description=Daily updatedb timer
Documentation=man:systemd.timer(5)

[Timer]
OnCalendar=*-*-* 06:00:00
Persistent=true

[Install]
WantedBy=timers.target
