[Unit]
Description=Weekly upgrade timer
Documentation=man:systemd.timer(5)

[Timer]
OnCalendar=Wed *-*-* 01:00:00
Persistent=true

[Install]
WantedBy=timers.target
